<a href="https://colab.research.google.com/github/kabeerbora/1980s_delin/blob/main/1980s_delicensing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Installing packages

In [ ]:
import pandas as pd
!pip install pyreadstat

Collecting pyreadstat
  Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (1.0 kB)
Requirement already satisfied: pandas>=1.2.0 in /usr/local/lib/python3.11/dist-packages (from pyreadstat) (2.2.2)
Requirement already satisfied: numpy>=1.23.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.11/dist-packages (from pandas>=1.2.0->pyreadstat) (2025.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.11/dist-packages (from python-dateutil>=2.8.2->pandas>=1.2.0->pyreadstat) (1.17.0)
Downloading pyreadstat-1.2.8-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.9/2.9 MB 27.1 MB/s eta 0:00:00
Installing collected packages: pyreadstat
Successfully installed pyreadstat-1.2.8

# Data ETL

In [1]:
import os
import pyreadstat
import pandas as pd

# Define the base directory
base_directory = '/content/drive/MyDrive/data_economics_research/ASI_Firms'

# Specify the folders to process (from 1976_1977 to 1989_1990)
folders_to_process = [f"{year}_{year+1}" for year in range(1976, 1991)]

# Initialize a list to store the year and column labels
columns_data = []

# Loop through all the specified folders and process the .sav files
for folder in folders_to_process:
    folder_path = os.path.join(base_directory, folder)

    # Check if the folder exists before processing
    if os.path.exists(folder_path):
        # List all .sav files in the current folder
        sav_files = [f for f in os.listdir(folder_path) if f.endswith('.sav')]

        # Loop through all the .sav files and get column labels
        for file in sav_files:
            file_path = os.path.join(folder_path, file)

            # Read the .sav file
            df, meta = pyreadstat.read_sav(file_path)

            # Get the column labels and add each label as a separate row
            for col_label in meta.column_labels:
                columns_data.append({
                    'Year': folder,
                    'File': file,
                    'Column Label': col_label
                })
    else:
        print(f"Folder {folder} does not exist. Skipping...")

# Create a DataFrame from the collected data
columns_df = pd.DataFrame(columns_data)

# Display the resulting DataFrame
columns_df.head()
output_path = '/content/drive/MyDrive/data_economics_research/ASI_Firms/columns_1976_1989.xlsx'
columns_df.to_excel(output_path, index=False)

In [2]:
%%time
import pandas as pd
import pyreadstat
import os
from google.colab import drive
drive.mount('/content/drive')
folder_range = range(1976, 1983)
folder_range_1 = range(1983, 1989)
dfs = []

for year in folder_range:
    folder_name = f"{year}_{year+1}"
    folder_path = f"/content/drive/MyDrive/data_economics_research/ASI_Firms/{folder_name}"
    if os.path.exists(folder_path):
        for filename in os.listdir(folder_path):
            if filename.endswith(".sav") and (filename.startswith("ASI") or filename.startswith("ASISUM")):
                file_path = os.path.join(folder_path, filename)
                df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)


                column_labels = meta.column_names_to_labels
                df.columns = [column_labels.get(col, col) for col in df.columns]

                dfs.append(df)
for year in folder_range_1:
    folder_name = f"{year}_{year+1}"
    folder_path = f"/content/drive/MyDrive/data_economics_research/ASI_Firms/{folder_name}"
    if os.path.exists(folder_path):  # checking if path exits or not
        for filename in os.listdir(folder_path):
            if filename.endswith(".sav") and (filename.startswith("ASI") or filename.startswith("ASISUM")):
                file_path = os.path.join(folder_path, filename)
                df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)
                column_labels = meta.column_names_to_labels
                df.columns = [column_labels.get(col, col) for col in df.columns]
                dfs.append(df)
df_final = pd.concat(dfs).reset_index(drop=True)
df_final
# df_1 = dfs['ASISUM_7677']
# df_2 = dfs['ASISUM_7778']
# df_3 = dfs['ASISUM_7980']
# df_4 = dfs['ASISUM_8081']
# df_5 = dfs['ASISUM_8182']
# df_6 = dfs['ASISUM_8586']
# df_7 = dfs['ASI_Summary_86_87']
# df_8 = dfs['ASI_Summary_87_88']
# df_9 = dfs['ASI_Summary_88_89']
df_final

Mounted at /content/drive

In [ ]:
folder_range = range(1976, 1983)
folder_range_1 = range(1983, 1989)
dfs = []
all_columns = []

for year in folder_range:
    folder_name = f"{year}_{year+1}"
    folder_path = f"/content/drive/MyDrive/data_economics_research/ASI_Firms/{folder_name}"
    if os.path.exists(folder_path):
        for filename in os.listdir(folder_path):
            if filename.endswith(".sav") and (filename.startswith("ASI") or filename.startswith("ASISUM")):
                file_path = os.path.join(folder_path, filename)
                df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)

                column_labels = meta.column_names_to_labels
                df.columns = [column_labels.get(col, col) for col in df.columns]
                year_of_survey = f"{year}-{year+1}"
                for column in df.columns:
                    all_columns.append({'Year': year_of_survey, 'Columns': column})

                dfs.append(df)
for year in folder_range_1:
    folder_name = f"{year}_{year+1}"
    folder_path = f"/content/drive/MyDrive/data_economics_research/ASI_Firms/{folder_name}"
    if os.path.exists(folder_path):
        for filename in os.listdir(folder_path):
            if filename.endswith(".sav") and (filename.startswith("ASI") or filename.startswith("ASISUM")):
                file_path = os.path.join(folder_path, filename)
                df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)
                column_labels = meta.column_names_to_labels
                df.columns = [column_labels.get(col, col) for col in df.columns]
                year_of_survey = f"{year}-{year+1}"
                for column in df.columns:
                    all_columns.append({'Year': year_of_survey, 'Columns': column})

                dfs.append(df)

column_df = pd.DataFrame(all_columns)
column_df.to_excel('/content/drive/MyDrive/data_economics_research/ASI_Firms/columns_1976_1989.xlsx', index=False)

## Mapping to Aliases

In [ ]:
import pandas as pd
import os

alias_file_path = "/content/drive/MyDrive/data_economics_research/ASI_Firms/columns_1976_1989.xlsx"
alias_df = pd.read_excel(alias_file_path)


base_path = "/content/drive/MyDrive/data_economics_research/ASI_Firms"
years = alias_df["Year"].unique()
available_years = []

for year in years:
    year_str = str(year)
    folder_path = os.path.join(base_path, year_str)
    if os.path.exists(folder_path):
        if any(f.endswith(".sav") and (f.startswith("ASI") or f.startswith("ASISUM")) for f in os.listdir(folder_path)):
            available_years.append(year)

available_years

['1976_1977',
 '1977_1978',
 '1979_1980',
 '1980_1981',
 '1981_1982',
 '1982_1983',
 '1983_1984',
 '1984_1985',
 '1985_1986',
 '1986_1987',
 '1987_1988',
 '1988_1989',
 '1990_1991']

In [ ]:
alias_file_path = "/content/drive/MyDrive/data_economics_research/ASI_Firms/columns_1976_1989.xlsx"
alias_df = pd.read_excel(alias_file_path)
column_to_alias = dict(zip(alias_df['Columns'], alias_df['alias']))
valid_columns = set(column_to_alias.keys())
folder_range = range(1976, 1983)
folder_range_1 = range(1983, 1989)
dfs = []
for year_range in [folder_range, folder_range_1]:
    for year in year_range:
        folder_name = f"{year}_{year+1}"
        folder_path = f"/content/drive/MyDrive/data_economics_research/ASI_Firms/{folder_name}"
        if os.path.exists(folder_path):
            for filename in os.listdir(folder_path):
                if filename.endswith(".sav") and (filename.startswith("ASI") or filename.startswith("ASISUM")):
                    file_path = os.path.join(folder_path, filename)
                    df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)


                    column_labels = meta.column_names_to_labels
                    df.columns = [column_labels.get(col, col) for col in df.columns]

                    dfs.append(df)
df_final = pd.concat(dfs).reset_index(drop=True)
df_final = df_final.rename(columns=column_to_alias)
df_final = df_final.loc[:, ~df_final.columns.isna()]
df_final.to_excel('/content/drive/MyDrive/data_economics_research/jan_weber_kabeer_bora/1976_1988_allfirms.xlsx', index=False)

KeyError: 'Columns'

In [ ]:
import pandas as pd
import os
import pyreadstat


alias_file_path = "/content/drive/MyDrive/data_economics_research/ASI_Firms/columns_1976_1989.xlsx"
alias_df = pd.read_excel(alias_file_path)

alias_df = alias_df.dropna(subset=['alias'])
alias_df['Column Label'] = alias_df['Column Label'].str.strip()
alias_df['alias'] = alias_df['alias'].str.strip()

label_to_alias = dict(zip(alias_df['Column Label'], alias_df['alias']))
valid_labels = set(label_to_alias.keys())

dfs = []
for folder_name in available_years:
    folder_path = f"/content/drive/MyDrive/data_economics_research/ASI_Firms/{folder_name}"
    if os.path.exists(folder_path):
        for filename in os.listdir(folder_path):
            if filename.endswith(".sav") and (filename.startswith("ASI") or filename.startswith("ASISUM")):
                file_path = os.path.join(folder_path, filename)

                df, meta = pyreadstat.read_sav(file_path, apply_value_formats=True)

                column_labels = meta.column_names_to_labels
                df.columns = [column_labels.get(col, col) for col in df.columns]

                df = df.loc[:, df.columns.isin(valid_labels)]

                df.rename(columns=label_to_alias, inplace=True)

                df['year'] = folder_name

                dfs.append(df)
df_final = pd.concat(dfs, ignore_index=True)
df_final.to_csv('/content/drive/MyDrive/data_economics_research/jan_weber_kabeer_bora/1976_1988_allfirms.csv', index=False)

,state_code,rsl,nic_code,ownership_code,organization_code,scheme_code,district_code,year_initial,capital_open,capital_closing,...,persons_engaged,wages,tot_output,value_added,semi_open,semi_close,bonus_workers,tot_emoluments,year,gross_sales
0,RAJASTHAN,7.0,2010.0,Wholly State and/or Local Government,Partnership : Others,Census,10.0,1972.0,0.0,12495400.0,...,0.0,0.0,48890500.0,7632500.0,0.0,0.0,0.0,727100.0,1976_1977,NaN
1,RAJASTHAN,10.0,2010.0,Joint Sector Private,Public Corporations,Census,10.0,1972.0,0.0,4937300.0,...,0.0,0.0,17799200.0,2359200.0,0.0,0.0,0.0,483900.0,1976_1977,NaN
2,RAJASTHAN,90035.0,2041.0,NR,NR,Sample,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1976_1977,NaN
3,RAJASTHAN,90034.0,2041.0,NR,NR,Sample,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1976_1977,NaN
4,RAJASTHAN,90055.0,2041.0,NR,NR,Sample,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1976_1977,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
712364,DAMAN & DIU,28607.0,3751.0,Joint Sector Public,Private Limited Company,100 or more workers,1.0,1979.0,925763.0,826652.0,...,89.0,934150.0,18277826.0,4878716.0,156982.0,60019.0,144262.0,1266495.0,1990_1991,19117132.0
712365,DAMAN & DIU,39.0,3751.0,Joint Sector Public,Public Limited Company,Complete Enumeration,1.0,1979.0,561620.0,501165.0,...,134.0,892574.0,13564541.0,1878302.0,38313.0,100662.0,130453.0,1221991.0,1990_1991,15808346.0
712366,DAMAN & DIU,40.0,3758.0,Joint Sector Public,Public Limited Company,Complete Enumeration,1.0,1979.0,431476.0,545225.0,...,139.0,655312.0,25713388.0,4637501.0,242787.0,133400.0,93250.0,1132255.0,1990_1991,30963184.0
712367,DAMAN & DIU,28609.0,3758.0,Joint Sector Public,Public Limited Company,100 or more workers,1.0,100.0,561620.0,501165.0,...,134.0,892574.0,13407259.0,1751020.0,38313.0,100662.0,130453.0,1221991.0,1990_1991,15651064.0
712368,DAMAN & DIU,28610.0,3758.0,Joint Sector Public,Public Limited Company,100 or more workers,1.0,1979.0,431476.0,545225.0,...,139.0,655312.0,25604001.0,4528114.0,242787.0,133400.0,93250.0,1132255.0,1990_1991,30963184.0

## Applying meta labels to columns

In [ ]:
column_labels = meta.column_names_to_labels
df_final.columns = [column_labels.get(col, col) for col in df_final.columns]
df_final.head(5)

,Part Code,Itm2,State Code,Running Serial No,NIC-70(1) Original NIC70,WGT,Year of Survey,Dummy State Code,Region Code,Ownership Code,...,Distributive Expenses,Value of Electricity Sold,Quantity of Electricity Produced (K.W.H.),Quantity of Electricity Sold (K.W.H.),Quantity of Electricity Consumed (K.W.H.),Itm33a,Itm109,MSchm_CD,Itm34a,NIC87
0,Delhi,3,RAJASTHAN,7.0,2010.0,1.0,1976-77,0,703.0,Wholly State and/or Local Government,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Delhi,3,RAJASTHAN,10.0,2010.0,1.0,1976-77,0,703.0,Joint Sector Private,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Delhi,3,RAJASTHAN,90035.0,2041.0,2.0,1976-77,0,801.0,NR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Delhi,3,RAJASTHAN,90034.0,2041.0,2.0,1976-77,0,801.0,NR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Delhi,3,RAJASTHAN,90055.0,2041.0,2.0,1976-77,0,801.0,NR,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Finding zeroes and NANs, and checking for number of observations by year

In [ ]:
for column in df_final.columns:
    zero_count = df_final[column][(df_final[column] == 0) | (df_final[column].isnull())].count()
    print(f"Column '{column}': {zero_count} zeros and NaNs")

#Variable count by year
def count_zeros_nans(series):
  """Counts zeros and NaNs in a pandas Series."""
  num_zeros = (series == 0).sum()
  num_nans = series.isnull().sum()
  return num_zeros + num_nans

# Calculate and print the counts
gross_sale_zeros_nans_by_year = df_final.groupby('Year of Survey')['Gross Sale value'].agg(count_zeros_nans).reset_index()
district_code_zeros_nans_by_year = df_final.groupby('Year of Survey')['District Code'].agg(count_zeros_nans).reset_index()
wages_workers_zeros_nans_by_year = df_final.groupby('Year of Survey')['Wages to Workers  (Including Bonus to Workers)'].agg(count_zeros_nans).reset_index()
value_added_zeros_nans_by_year = df_final.groupby('Year of Survey')['Fixed Capital ( Closing )'].agg(count_zeros_nans).reset_index()
surplus_value_zeros_nans_by_year = df_new.groupby('year')['rop'].agg(count_zeros_nans).reset_index()

print(gross_sale_zeros_nans_by_year)

   Year of Survey  Gross Sale value
0         1976-77             50510
1         1977-78             50871
2         1979-80             56460
3         1980-81             58503
4         1981-82             50356
5         1982-83             46705
6         1983-84             17266
7         1984-85             14871
8         1985-86             14374
9         1986-87             13899
10        1987-88             10395
11        1988-89             10509

In [ ]:
observations_by_year = df_new.groupby('year').size().reset_index(name='Number of Observations')
observations_by_year

KeyError: 'year'

In [ ]:
import pandas as pd
import pyreadstat
import os
from tqdm import tqdm

folder_range = range(1999,2022)
base_dir = "/content/drive/MyDrive/data_economics_research/ASI_Firms"
all_data = []
for year in tqdm(folder_range, desc="Processing Years"):
    folder_name = f"{year}_{year + 1}"
    folder_path = os.path.join(base_dir, folder_name)

    if os.path.exists(folder_path):  # Check if the folder exists
        sav_files = [f for f in os.listdir(folder_path) if f.endswith('.sav')]

        # Use tqdm to show progress for files within each folder
        for sav_file in tqdm(sav_files, desc=f"Processing Files in {folder_name}", leave=False):
            file_path = os.path.join(folder_path, sav_file)
            df, meta = pyreadstat.read_sav(file_path)
            # Append the filtered DataFrame to the all_data list
            all_data.append(df)

all_data
# After processing, you can concatenate the filtered data
final_df = pd.concat(all_data, ignore_index=True)

In [ ]:
afolder = '/content/drive/MyDrive/data_economics_research/ASI_Firms'
from glob import glob
glob(f'{folder}/*.sav')

# Creating variables

In [ ]:
df_new = df_final[['Year of Survey', 'District Code', 'State Code', 'Total Output', 'Ownership Code', 'Wages to Workers  (Including Bonus to Workers)', 'Value Added', 'Fixed Capital ( Closing )', 'NIC-70(1) Original NIC70']].copy()
df_new = df_new.dropna(subset=['Total Output', 'Wages to Workers  (Including Bonus to Workers)', 'Value Added', 'Fixed Capital ( Closing )'])
df_new = df_new[(df_new['Total Output'] != 0) & (df_new['Wages to Workers  (Including Bonus to Workers)'] != 0) & (df_new['Value Added'] != 0) & (df_new['Fixed Capital ( Closing )'] != 0)]
df_new['surplus_value'] = df_new['Value Added'] - df_new['Wages to Workers  (Including Bonus to Workers)']
df_new['rop'] = df_new['surplus_value']/df_new['Fixed Capital ( Closing )']
df_new = df_new[(df_new['rop'] > 0) & (df_new['rop'] < 1)]
df_new['rop'].describe()
df_new
df_new = df_new[df_new['surplus_value'] > 0]
df_new = df_new.rename(columns={'Ownership Code' : 'ownership', 'Wages to Workers  (Including Bonus to Workers)': 'wages_workers', 'NIC-70(1) Original NIC70': 'nic_code', 'Fixed Capital ( Closing )': 'fixed_k', 'Year of Survey': 'year', 'District Code': 'district', 'State Code':'state', 'Total Output':'output'})

,year,district,state,output,ownership,wages_workers,Value Added,fixed_k,nic_code,surplus_value,rop
0,1976-77,10.0,RAJASTHAN,48890500.0,Wholly State and/or Local Government,476300.0,7632500.0,12495400.0,2010.0,7156200.0,0.572707
1,1976-77,10.0,RAJASTHAN,17799200.0,Joint Sector Private,109600.0,2359200.0,4937300.0,2010.0,2249600.0,0.455634
9,1976-77,15.0,RAJASTHAN,14430.0,Wholly State and/or Local Government,1800.0,5622.0,69182.0,2041.0,3822.0,0.055246
12,1976-77,1.0,RAJASTHAN,308860.0,Wholly State and/or Local Government,16712.0,61124.0,74082.0,2042.0,44412.0,0.599498
14,1976-77,7.0,RAJASTHAN,363385.0,Wholly State and/or Local Government,20326.0,53711.0,190240.0,2042.0,33385.0,0.175489
...,...,...,...,...,...,...,...,...,...,...,...
660751,1988-89,1.0,DAMAN & DIU,41543197.0,Wholly private Ownership,2085656.0,4907459.0,6509192.0,3830.0,2821803.0,0.433510
660752,1988-89,1.0,DAMAN & DIU,368873428.0,Wholly State and/or Local Government,26066271.0,53422314.0,300214537.0,4000.0,27356043.0,0.091122
660754,1988-89,1.0,DAMAN & DIU,29101052.0,Wholly State and/or Local Government,1303489.0,1783141.0,7833581.0,4200.0,479652.0,0.061230
660755,1988-89,1.0,DAMAN & DIU,956817.0,Wholly private Ownership,98564.0,165188.0,356326.0,7410.0,66624.0,0.186975
660758,1988-89,1.0,DAMAN & DIU,295859.0,Wholly private Ownership,76514.0,94500.0,171125.0,9740.0,17986.0,0.105104

In [ ]:
import pandas as pd
df = pd.read_parquet('/content/drive/MyDrive/data_economics_research/ASI_Firms/1976_1988_allfirms.parquet')
df.columns

Index(['state_code', 'sector_code', 'year', 'ownership_code',
       'organisation_code', 'scheme_code', 'district_code', 'year_initial',
       'capital_open', 'capital_close', 'work_cap_open', 'work_cap_close',
       'total_workers', 'persons_engaged', 'wages', 'output', 'value_added',
       'capital_invested', 'wages_bonus', 'emoluments', 'capital_gross',
       'work_cap_open.1', 'gross_sale', 'work_cap_close.1'],
      dtype='object')

In [ ]:
import pandas as pd
file_path = '/content/drive/MyDrive/data_economics_research/ASI_Firms/columns_1976_1989.xlsx'
df = pd.read_excel(file_path)
df = df[df['Year'] == '1989_1990']

In [ ]:
import pandas as pd
import pyreadstat
file_path = '/content/drive/MyDrive/data_economics_research/ASI_Firms/1989_1990/IDENTIFICATION PARTICULARS (B1,2,6).sav'
df_1, meta = pyreadstat.read_sav(file_path)
df_1

,Scheme,Ind_CD,State,RSL,Rec_cat,Cont_RSL,PSL,Bl1_i4,Bl1_i5,Bl1_i6,...,Bl2_i4,Bl2_i5,Bl2_i6,Bl2_i7,Bl2_i8,Bl2_i9,Bl6_i1,Bl6_i2,Bl6_i3,Bl6_i4
0,2.0,2001.0,2.0,4293.0,11.0,1.0,99999.0,1.0,206.0,23.0,...,1.0,2.0,9.0,310390.0,12.0,1.0,313.0,313.0,313.0,8.0
1,2.0,2001.0,4.0,21698.0,11.0,1.0,99999.0,1.0,430.0,43.0,...,1.0,2.0,2.0,310390.0,12.0,1.0,267.0,267.0,1.0,8.0
2,2.0,2001.0,12.0,2079.0,11.0,5.0,99999.0,1.0,1217.0,121.0,...,2.0,2.0,2.0,310390.0,12.0,1.0,302.0,302.0,906.0,8.0
3,2.0,2001.0,12.0,2578.0,11.0,2.0,99999.0,1.0,1202.0,122.0,...,3.0,2.0,1.0,310390.0,12.0,1.0,365.0,365.0,1095.0,8.0
4,1.0,2001.0,12.0,2851.0,11.0,30.0,99999.0,1.0,1209.0,124.0,...,3.0,2.0,1.0,310390.0,12.0,1.0,306.0,306.0,306.0,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49360,2.0,9790.0,28.0,31290.0,11.0,522.0,99999.0,1.0,2801.0,281.0,...,3.0,2.0,2.0,310390.0,12.0,1.0,228.0,228.0,228.0,8.0
49361,2.0,9790.0,28.0,31292.0,11.0,532.0,99999.0,1.0,2801.0,281.0,...,1.0,2.0,2.0,310390.0,12.0,1.0,285.0,285.0,285.0,8.0
49362,2.0,9790.0,28.0,31356.0,11.0,527.0,99999.0,1.0,2801.0,281.0,...,3.0,2.0,2.0,310390.0,12.0,1.0,302.0,302.0,302.0,8.0
49363,2.0,9790.0,28.0,31361.0,11.0,523.0,99999.0,1.0,2801.0,281.0,...,1.0,2.0,2.0,310390.0,12.0,1.0,248.0,248.0,248.0,8.0
49364,2.0,9790.0,32.0,150.0,11.0,224.0,99999.0,1.0,3201.0,202.0,...,1.0,2.0,2.0,310390.0,12.0,1.0,285.0,285.0,285.0,8.0

In [ ]:
column_labels = meta.column_names_to_labels
df_1.columns = [column_labels.get(col, col) for col in df_1.columns]
df_1.head(5)

,Scheme Code,Industry- NIC code,State Code,Running Sl. No.,Record Category,Cont. R.S.L.,Permanent Sl. No.,No. of Units,State/Dist/Block,FOD Region Code,...,Type of Management,Whether ancillary unit,Wheather registered,Accounting Year Closing,Months of operation,Type of power used,No. of manufacturing days,Total no of working days,Total no of shifts,Length of shifts
0,2.0,2001.0,2.0,4293.0,11.0,1.0,99999.0,1.0,206.0,23.0,...,1.0,2.0,9.0,310390.0,12.0,1.0,313.0,313.0,313.0,8.0
1,2.0,2001.0,4.0,21698.0,11.0,1.0,99999.0,1.0,430.0,43.0,...,1.0,2.0,2.0,310390.0,12.0,1.0,267.0,267.0,1.0,8.0
2,2.0,2001.0,12.0,2079.0,11.0,5.0,99999.0,1.0,1217.0,121.0,...,2.0,2.0,2.0,310390.0,12.0,1.0,302.0,302.0,906.0,8.0
3,2.0,2001.0,12.0,2578.0,11.0,2.0,99999.0,1.0,1202.0,122.0,...,3.0,2.0,1.0,310390.0,12.0,1.0,365.0,365.0,1095.0,8.0
4,1.0,2001.0,12.0,2851.0,11.0,30.0,99999.0,1.0,1209.0,124.0,...,3.0,2.0,1.0,310390.0,12.0,1.0,306.0,306.0,306.0,8.0

In [ ]:
columns_to_keep = ['Industry- NIC code', 'State Code', 'Running Sl. No.', 'State/Dist/Block', 'Year of Initial Prod', 'Type of Organisation', 'Type of Ownership']
df_1 = df_1[columns_to_keep]

In [ ]:
import pandas as pd
new_column_names = {
    'Industry- NIC code': 'nic_code',
    'State Code': 'state_code',
    'Running Sl. No.': 'rsl',
    'State/Dist/Block': 'district_code',
    'Year of Initial Prod': 'year_initial',
    'Type of Organisation': 'organization_code',
    'Type of Ownership': 'ownership_code'
}

df_1 = df_1.rename(columns=new_column_names)

In [ ]:
file_path = '/content/drive/MyDrive/data_economics_research/ASI_Firms/1989_1990/FIXED ASSETS-1  (BLOCK4).sav'
df_2, meta = pyreadstat.read_sav(file_path)
column_labels_2 = meta.column_names_to_labels
df_2.columns = [column_labels_2.get(col, col) for col in df_2.columns]

In [ ]:
columns_to_keep = ['Opening – Net', 'Closing – Net', 'Running Sl. No.']
df_2 = df_2[columns_to_keep]

In [ ]:
new_column_names_2 = {
    'Opening – Net': 'capital_open',
    'Closing – Net': 'capital_closing',
    'Running Sl. No.': 'rsl'
}

df_2 = df_2.rename(columns=new_column_names_2)

        capital_open  capital_closing     rsl
0           290000.0         290000.0  4293.0
1          1352369.0        1318560.0  4293.0
2           124762.0          99810.0  4293.0
3            33190.0          22128.0  4293.0
4            38394.0          34559.0  4293.0
...              ...              ...     ...
274256         500.0            500.0   150.0
274257       38669.0          34803.0   150.0
274258        4203.0           3783.0   150.0
274259        1057.0            952.0   150.0
274260       44429.0          40038.0   150.0

[274261 rows x 3 columns]

In [ ]:
file_path = '/content/drive/MyDrive/data_economics_research/ASI_Firms/1989_1990/LABOUR COST-1  (BLOCK 8).sav'
df_3, meta = pyreadstat.read_sav(file_path)
column_labels_3 = meta.column_names_to_labels
df_3.columns = [column_labels.get(col, col) for col in df_3.columns]
df_3

,Scheme Code,Industry- NIC code,State Code,Running Sl. No.,Record Category,Bl8_i1_c3,Bl8_i2_c3,Bl8_i4_c3,Bl8_i5_c3,Bl8_i7_c3,Bl8_i1_c4,Bl8_i2_c4,Bl8_i4_c4,Bl8_i5_c4,Bl8_i7_c4
0,2.0,2001.0,2.0,4293.0,81.0,742483.0,53347.0,0.0,0.0,795830.0,36910.0,0.0,0.0,0.0,36910.0
1,2.0,2001.0,4.0,21698.0,81.0,679596.0,40742.0,0.0,0.0,720338.0,484032.0,2788.0,0.0,0.0,486820.0
2,2.0,2001.0,12.0,2079.0,81.0,760857.0,10238.0,19480.0,21346.0,811921.0,355103.0,3200.0,34114.0,13284.0,405701.0
3,2.0,2001.0,12.0,2578.0,81.0,391974.0,10395.0,0.0,0.0,402369.0,639400.0,99978.0,0.0,0.0,739378.0
4,1.0,2001.0,12.0,2851.0,81.0,718479.0,0.0,0.0,0.0,718479.0,478373.0,0.0,0.0,0.0,478373.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46621,2.0,9790.0,28.0,31290.0,81.0,3619292.0,199554.0,0.0,0.0,3818846.0,1867635.0,26830.0,0.0,0.0,1894465.0
46622,2.0,9790.0,28.0,31292.0,81.0,256400.0,8000.0,0.0,0.0,264400.0,42000.0,0.0,0.0,0.0,42000.0
46623,2.0,9790.0,28.0,31356.0,81.0,112871.0,10119.0,7463.0,8419.0,138872.0,0.0,0.0,0.0,0.0,0.0
46624,2.0,9790.0,28.0,31361.0,81.0,NaN,79843.0,0.0,0.0,1189381.0,285656.0,11200.0,0.0,0.0,296856.0
46625,2.0,9790.0,32.0,150.0,81.0,817329.0,13835.0,0.0,5235.0,836399.0,55725.0,1420.0,0.0,0.0,57145.0

In [ ]:
df_selected = df_3[[
    'Bl8_i1_c3', 'Bl8_i2_c3', 'Bl8_i7_c3', 'Running Sl. No.'
]].rename(
    columns={
        'Bl8_i1_c3': 'tot_wages',
        'Bl8_i2_c3': 'bonus_workers',
        'Bl8_i7_c3': 'tot_emoluments',
        'Running Sl. No.': 'rsl'
    }
)
df_3 = df_selected.copy()

       tot_wages  bonus_workers  tot_emoluments      rsl
0       742483.0        53347.0        795830.0   4293.0
1       679596.0        40742.0        720338.0  21698.0
2       760857.0        10238.0        811921.0   2079.0
3       391974.0        10395.0        402369.0   2578.0
4       718479.0            0.0        718479.0   2851.0
...          ...            ...             ...      ...
46621  3619292.0       199554.0       3818846.0  31290.0
46622   256400.0         8000.0        264400.0  31292.0
46623   112871.0        10119.0        138872.0  31356.0
46624        NaN        79843.0       1189381.0  31361.0
46625   817329.0        13835.0        836399.0    150.0

[46626 rows x 4 columns]

In [ ]:
file_path = '/content/drive/MyDrive/data_economics_research/ASI_Firms/1989_1990/OTHER OUTPUT-RECEIPTS (BLOCK 11).sav'
df_4, meta = pyreadstat.read_sav(file_path)
column_labels_4 = meta.column_names_to_labels
df_4.columns = [column_labels_4.get(col, col) for col in df_4.columns]
df_4.head(5)

,Scheme code,Industry- NIC code,State code,Running Sl. No.,Record Category,Work done for others,Receipt for non-industrial services,Variation in stock of semi- finished goods,Value of electricity sold,Value of own construction,Total,Sale value of goods sold etc.,Purchase value of goods sold etc.
0,2.0,2001.0,4.0,21698.0,111.0,NaN,13740.0,-48102.0,0.0,0.0,-34362.0,0.0,0.0
1,2.0,2001.0,12.0,2079.0,111.0,NaN,561707.0,0.0,0.0,0.0,678439.0,798136.0,681404.0
2,2.0,2001.0,12.0,2578.0,111.0,215388.0,4517697.0,0.0,0.0,0.0,4733085.0,0.0,0.0
3,1.0,2001.0,12.0,2851.0,111.0,3675462.0,80292.0,0.0,0.0,0.0,3755754.0,0.0,0.0
4,1.0,2001.0,12.0,2852.0,111.0,NaN,124961.0,-96961.0,0.0,0.0,28000.0,0.0,0.0

In [ ]:
df_4 = df_4[['Total', 'Running Sl. No.']].copy()
df_4 = df_4.rename(columns={'Total': 'tot_output', 'Running Sl. No.': 'rsl'})

       tot_output      rsl
0        -34362.0  21698.0
1        678439.0   2079.0
2       4733085.0   2578.0
3       3755754.0   2851.0
4         28000.0   2852.0
...           ...      ...
40054  49472437.0  31290.0
40055    445434.0  31292.0
40056    791871.0  31356.0
40057   2142956.0  31361.0
40058   1024010.0    150.0

[40059 rows x 2 columns]

In [ ]:
file_path = '/content/drive/MyDrive/data_economics_research/ASI_Firms/1989_1990/PRODUCTS AND BY-PRODUCTS-1 (BLOCK 14).sav'
df_5, meta = pyreadstat.read_sav(file_path)
column_labels_5 = meta.column_names_to_labels
df_5.columns = [column_labels_5.get(col, col) for col in df_5.columns]
df_5.head(5)

,Scheme code,Industry-NIC Code,State code,Running Sl. No.,Record Category 141,Link Code,Item code,Quantity manufactured,Quantity sold,Gross sale value,Excise duty,Sale tax
0,2.0,2001.0,2.0,4293.0,141.0,1.0,5002.0,NaN,1000101.0,2828952.0,0.0,0.0
1,2.0,2001.0,2.0,4293.0,141.0,2.0,5996.0,NaN,0.0,1309629.0,0.0,0.0
2,2.0,2001.0,2.0,4293.0,141.0,3.0,5001.0,NaN,17.0,621774.0,0.0,0.0
3,2.0,2001.0,2.0,4293.0,141.0,4.0,5006.0,NaN,63000.0,658340.0,0.0,0.0
4,2.0,2001.0,2.0,4293.0,141.0,5.0,NaN,NaN,4000401.0,200563.0,0.0,0.0

In [ ]:
df_5 = df_5[['Gross sale value', 'Running Sl. No.']].copy()

df_5 = df_5.rename(columns={
    'Gross sale value': 'gross_sales',
    'Running Sl. No.': 'rsl'
})

        gross_sales      rsl
0         2828952.0   4293.0
1         1309629.0   4293.0
2          621774.0   4293.0
3          658340.0   4293.0
4          200563.0   4293.0
...             ...      ...
135246      22013.0  23181.0
135247     919987.0  29705.0
135248     919987.0  29705.0
135249    1025465.0    207.0
135250    1025465.0    207.0

[135251 rows x 2 columns]

# Creating a Panel

| **Scheme Code**                 | **Description**                                                                                                                              | **Standard Category** | **Reference** |
|--------------------------------|----------------------------------------------------------------------------------------------------------------------------------------------|------------------------|---------------|
| **Complete Enumeration**        | Units selected for a complete count, typically large or significant units.                                                                   | Census                 | [ASI 1990-91 Metadata](https://microdata.gov.in/NADA/index.php/catalog/41/study-description) |
| **100 or more workers**         | Units employing 100 or more workers, often included in the census sector.                                                                   | Census                 | [ASI 1990-91 Metadata](https://microdata.gov.in/NADA/index.php/catalog/41/study-description) |
| **Sample I**                    | A subset of units selected for sampling, possibly based on specific criteria.                                                                | Sample                 | [ASI 1987-88 Documentation](https://microdata.gov.in/nada43/index.php/catalog/38/download/383) |
| **Sample II**                   | Another subset of units selected for sampling, possibly based on different criteria than Sample I.                                           | Sample                 | [ASI 1987-88 Documentation](https://microdata.gov.in/nada43/index.php/catalog/38/download/383) |
| **B & C 100 or more workers**   | Units in categories B & C with 100 or more workers.                                                                                          | Census                 | [ASI 1987-88 Documentation](https://microdata.gov.in/nada43/index.php/catalog/38/download/383) |
| **B & C–CE**                    | B & C category units under Complete Enumeration.                                                                                             | Census                 | [ASI 1987-88 Documentation](https://microdata.gov.in/nada43/index.php/catalog/38/download/383) |
| **B & C Sample I**              | B & C category units under Sample I.                                                                                                         | Sample                 | [ASI 1987-88 Documentation](https://microdata.gov.in/nada43/index.php/catalog/38/download/383) |
| **B & C Sample II**             | B & C category units under Sample II.                                                                                                        | Sample                 | [ASI 1987-88 Documentation](https://microdata.gov.in/nada43/index.php/catalog/38/download/383) |
| **Electricity**                 | Units primarily engaged in electricity generation or distribution.                                                                           | Census                 | [ASI 1990-91 Metadata](https://microdata.gov.in/NADA/index.php/catalog/41/study-description) |
| **NR**                          | Not Reported or Not Recorded.                                                                                                                | Exclude                | [ASI 1990-91 Metadata](https://microdata.gov.in/NADA/index.php/catalog/41/study-description) |

In [ ]:
df_1989 = df_1.merge(df_2, on='rsl', how='outer') \
            .merge(df_3, on='rsl', how='outer') \
            .merge(df_4, on='rsl', how='outer') \
            .merge(df_5, on='rsl', how='outer')

In [ ]:
num_unique_states = df['state_code'].nunique()
print(f"Number of unique state codes: {num_unique_states}")
unique_state_codes = df['State'].unique()
print(f"Unique state codes: {unique_state_codes}")

Number of unique state codes: 28
Unique state codes: [0, 1, 2, 3, 4, ..., 23, 24, 25, 26, 27]
Length: 28
Categories (28, int64): [21, 0, 1, 2, ..., 17, 18, 19, 20]

In [ ]:
num_unique_states = df['state_code'].nunique()
print(f"Number of unique state codes: {num_unique_states}")
unique_state_codes = df['State'].unique()
print(f"Unique state codes: {unique_state_codes}")


df['state_code'] = df['state_code'].replace(['Daman and Diu'], 'DAMAN  &  DIU')
df['state_code'] = df['state_code'].replace(['Dadra & Nagar Haveli'], 'DADRA  AND  NAGAR  HAVELI')

unique_state_codes = df['state_code'].unique()
state_mapping = {code: i for i, code in enumerate(unique_state_codes)}
df['State'] = df['state_code'].map(state_mapping)

years_to_remove = ['1989_1990', '1990_1991']
df = df[~df['year'].isin(years_to_remove)]

df = df[df['scheme_code'] == 'Census']

ownership = df['ownership_code'].unique()
ownership_code_mapping = {code: i for i, code in enumerate(ownership)}
df['ownership_code_unique'] = df['ownership_code'].map(ownership_code_mapping)

df['identifier'] = df['nic_code'].astype(str) + '_' + df['ownership_code_unique'].astype(str) + '_' + df['State'].astype(str)

In [ ]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/data_economics_research/jan_weber_kabeer_bora/1976_1988_allfirms.csv')
df

In [ ]:
metric_columns = ["capital_open", "capital_closing", "work_cap_open", "work_cap_close", "outstanding_open", "outstanding_close", "semi_open", "semi_close"]
filter_df = df[df['year'].isin(['1979_1980', '1980_1981', '1981_1982', '1982_1983', '1983_1984', '1984_1985', '1985_1986', '1986_1987'])].copy()
CY_df = filter_df.copy().sort_values(by=['year', 'identifier', 'year_initial'] + metric_columns)
CY_df = CY_df[CY_df['year']!='1979_1980'].reset_index()
CY_df = CY_df.drop(["capital_closing", "work_cap_close", "outstanding_close", "semi_close"], axis=1)

PY_df = filter_df.copy().sort_values(by=['year', 'identifier', 'year_initial'] + metric_columns)
PY_df = PY_df[PY_df['year']!='1986_1987'].reset_index(drop=True)
PY_df = PY_df.drop(["capital_open", "work_cap_open", "outstanding_open", "semi_open"], axis=1)


df_merge = pd.merge(
    left=CY_df,
    right=PY_df,
    how='inner',
    left_on = ['identifier', 'year_initial', "capital_open", "work_cap_open", "outstanding_open", "semi_open"],
    right_on = ['identifier', 'year_initial', "capital_closing", "work_cap_close", "outstanding_close", "semi_close"],
    suffixes = ['_CY', "_PY"]
)
df_merge = df_merge[sorted(df_merge.columns)]
print(df_merge.shape)
df_merge.head()

,State_CY,State_PY,bonus_workers_CY,bonus_workers_PY,capital_closing,capital_open,district_code_CY,district_code_PY,gross_sales_CY,gross_sales_PY,...,tot_output_PY,value_added_CY,value_added_PY,wages_CY,wages_PY,work_cap_close,work_cap_open,year_CY,year_PY,year_initial
0,9,9,0.0,0.0,2773304.0,2773304.0,29.0,29.0,NaN,NaN,...,551168.0,-215694.0,-276995.0,88446.0,60180.0,244248.0,244248.0,1980_1981,1979_1980,1971.0
1,3,3,17464.0,15866.0,2714083.0,2714083.0,10.0,10.0,NaN,NaN,...,4567689.0,2033559.0,792782.0,315200.0,211906.0,1092882.0,1092882.0,1980_1981,1979_1980,1968.0
2,5,5,15811.0,27203.0,205648.0,205648.0,1.0,1.0,NaN,NaN,...,9790626.0,2013953.0,1421126.0,386769.0,272035.0,31550.0,31550.0,1980_1981,1979_1980,1977.0
3,5,5,800.0,0.0,28899.0,28899.0,1.0,1.0,NaN,NaN,...,17194246.0,818068.0,1499097.0,111804.0,315093.0,2164564.0,2164564.0,1980_1981,1979_1980,1978.0
4,5,5,5099.0,0.0,33295.0,33295.0,1.0,1.0,NaN,NaN,...,11346855.0,943147.0,1245987.0,137180.0,66624.0,443434.0,443434.0,1980_1981,1979_1980,1979.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101050,19,19,834666.0,809502.0,1111665.0,1111665.0,7.0,11.0,0.0,0.0,...,30689574.0,27273007.0,23911470.0,18935735.0,17640697.0,212973.0,212973.0,1986_1987,1985_1986,1935.0
101051,22,22,226322.0,170262.0,139720.0,139720.0,2.0,4.0,0.0,0.0,...,3658035.0,3149597.0,2785715.0,1982478.0,1991715.0,0.0,0.0,1986_1987,1985_1986,1950.0
101052,3,3,7997870.0,6147040.0,45605490.0,45605490.0,1.0,1.0,0.0,384269966.0,...,384269966.0,105739227.0,94491934.0,84234436.0,76059000.0,106.0,106.0,1986_1987,1985_1986,1952.0
101053,5,5,2847408.0,2577173.0,18951709.0,18951709.0,1.0,1.0,0.0,0.0,...,86965661.0,82470987.0,75894729.0,38735939.0,2984105.0,243451363.0,243451363.0,1986_1987,1985_1986,1948.0
101054,9,9,0.0,0.0,0.0,0.0,22.0,16.0,0.0,0.0,...,415700.0,-1285248.0,361581.0,294472.0,168745.0,0.0,0.0,1986_1987,1985_1986,1981.0

In [ ]:
df_merge.loc[
    (df_merge["capital_open"]==0) &
    (df_merge["capital_closing"] == 0) &
    (df_merge["work_cap_open"] == 0) &
    (df_merge["work_cap_close"] == 0) &
    (df_merge["outstanding_open"] == 0) &
    (df_merge["outstanding_close"] == 0) &
    (df_merge["semi_open"] == 0) &
    (df_merge["semi_close"] == 0) &
    (df_merge['year_initial']==0)
]

,State_CY,State_PY,bonus_workers_CY,bonus_workers_PY,capital_closing,capital_open,district_code_CY,district_code_PY,gross_sales_CY,gross_sales_PY,...,tot_output_PY,value_added_CY,value_added_PY,wages_CY,wages_PY,work_cap_close,work_cap_open,year_CY,year_PY,year_initial
0,9,9,0.0,0.0,2773304.0,2773304.0,29.0,29.0,NaN,NaN,...,551168.0,-215694.0,-276995.0,88446.0,60180.0,244248.0,244248.0,1980_1981,1979_1980,1971.0
1,3,3,17464.0,15866.0,2714083.0,2714083.0,10.0,10.0,NaN,NaN,...,4567689.0,2033559.0,792782.0,315200.0,211906.0,1092882.0,1092882.0,1980_1981,1979_1980,1968.0
2,5,5,15811.0,27203.0,205648.0,205648.0,1.0,1.0,NaN,NaN,...,9790626.0,2013953.0,1421126.0,386769.0,272035.0,31550.0,31550.0,1980_1981,1979_1980,1977.0
3,5,5,800.0,0.0,28899.0,28899.0,1.0,1.0,NaN,NaN,...,17194246.0,818068.0,1499097.0,111804.0,315093.0,2164564.0,2164564.0,1980_1981,1979_1980,1978.0
4,5,5,5099.0,0.0,33295.0,33295.0,1.0,1.0,NaN,NaN,...,11346855.0,943147.0,1245987.0,137180.0,66624.0,443434.0,443434.0,1980_1981,1979_1980,1979.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
101050,19,19,834666.0,809502.0,1111665.0,1111665.0,7.0,11.0,0.0,0.0,...,30689574.0,27273007.0,23911470.0,18935735.0,17640697.0,212973.0,212973.0,1986_1987,1985_1986,1935.0
101051,22,22,226322.0,170262.0,139720.0,139720.0,2.0,4.0,0.0,0.0,...,3658035.0,3149597.0,2785715.0,1982478.0,1991715.0,0.0,0.0,1986_1987,1985_1986,1950.0
101052,3,3,7997870.0,6147040.0,45605490.0,45605490.0,1.0,1.0,0.0,384269966.0,...,384269966.0,105739227.0,94491934.0,84234436.0,76059000.0,106.0,106.0,1986_1987,1985_1986,1952.0
101053,5,5,2847408.0,2577173.0,18951709.0,18951709.0,1.0,1.0,0.0,0.0,...,86965661.0,82470987.0,75894729.0,38735939.0,2984105.0,243451363.0,243451363.0,1986_1987,1985_1986,1948.0
101054,9,9,0.0,0.0,0.0,0.0,22.0,16.0,0.0,0.0,...,415700.0,-1285248.0,361581.0,294472.0,168745.0,0.0,0.0,1986_1987,1985_1986,1981.0

In [3]:
df = pd.read_csv('/content/drive/MyDrive/data_economics_research/jan_weber_kabeer_bora/1976_1988_allfirms.csv')

df['state_code'] = df['state_code'].replace(['Daman and Diu'], 'DAMAN  &  DIU')
df['state_code'] = df['state_code'].replace(['Dadra & Nagar Haveli'], 'DADRA  AND  NAGAR  HAVELI')

unique_state_codes = df['state_code'].unique()
state_mapping = {code: i for i, code in enumerate(unique_state_codes)}
df['State'] = df['state_code'].map(state_mapping)

census_scheme_codes = list(map(lambda x: x.lower().strip(), [
    'Census', 'Complete Enumeration', '100 or more workers',
    'B & C 100 or more workers', 'B & C–CE', 'Electricity']))
df = df[df['scheme_code'].str.lower().str.strip().isin(census_scheme_codes)]

years_to_remove = ['1976_1977', '1977_1978','1989_1990', '1990_1991']
df = df[~df['year'].isin(years_to_remove)]

df['ownership_code'] = (
    df['ownership_code']
    .astype(str)
    .str.strip()
    .str.replace(r'\s+', ' ', regex=True)
    .str.lower()
)

ownership_code_mapping = {
    'wholly private enterprise': 1,
    'wholly private ownership': 1,
    'wholly central government': 2,
    'wholly state and/or local government': 3,
    'central government and state and/or local government jointly': 4,
    'central government and state and/or local government joint': 4,
    'joint sector public': 5,
    'joint sector private': 6,
    'invalid': 7,
    '7.0': 7
}

df['ownership_code_unique'] = df['ownership_code'].map(ownership_code_mapping)

unmatched = df[df['ownership_code_unique'].isna()]['ownership_code'].unique()
print("Unmatched ownership_code values:\n", unmatched)

df['identifier'] = df['nic_code'].astype(str).str[:4] + '_' + \
                   df['ownership_code_unique'].fillna('nan').astype(str) + '_' + \
                   df['State'].astype(str)

df = df.loc[(df['capital_open'] != 0) | (df['capital_closing'] != 0)].copy()

df = df.reset_index(drop=True)
print(df.shape)
df.sample(5)

Unmatched ownership_code values:
 []
(229685, 27)

,state_code,rsl,nic_code,ownership_code,organization_code,scheme_code,district_code,year_initial,capital_open,capital_closing,...,value_added,semi_open,semi_close,bonus_workers,tot_emoluments,year,gross_sales,State,ownership_code_unique,identifier
108787,TAMIL NADU,33713.0,2760.0,wholly state and/or local government,Public Corporations,Census,1.0,1901.0,641233.0,616984.0,...,4047378.0,0.0,0.0,0.0,3665836.0,1984_1985,NaN,19,3,2760_3_19
167041,WEST BENGAL,1899.0,3809.0,wholly private enterprise,Individual Proprietorship,Census,8.0,1955.0,168450.0,171089.0,...,368813.0,194911.0,221138.0,19903.0,216725.0,1986_1987,1372092.0,11,1,3809_1_11
183121,HARYANA,2905.0,2802.0,wholly private enterprise,Public Limited Company,Electricity,9.0,1983.0,36403177.0,39837751.0,...,1309002.0,2930950.0,3255373.0,275116.0,5117022.0,1987_1988,43748408.0,3,1,2802_1_3
66973,MADHYA PRADESH,459.0,2310.0,wholly central government,Public Corporations,Census,22.0,1906.0,25493478.0,26875470.0,...,27403740.0,7889850.0,11152816.0,1592371.0,26729513.0,1982_1983,NaN,8,2,2310_2_8
1489,JAMMU & KASHMIR,30.0,3410.0,wholly private enterprise,Partnership : Others,Census,6.0,1976.0,53637.0,47227.0,...,248792.0,28570.0,39248.0,0.0,154589.0,1979_1980,NaN,2,1,3410_1_2

In [ ]:
capital_open_88 = df.loc[
    (df['year'] == '1988_1989') &
    (df['capital_open'] != 0) &
    (df['capital_open'].notna()),
    'capital_open'
]
capital_close_87 = df.loc[
    (df['year'] == '1987_1988') &
    (df['capital_closing'] != 0) &
    (df['capital_closing'].notna()),
    'capital_closing'
]
values_87_set = set(capital_close_87)
match_count = capital_open_88.isin(values_87_set).sum()
print("Total number of exact 1:1 value matches (ignoring zeros):", match_count)

Total number of exact 1:1 value matches (ignoring zeros): 8149

In [ ]:
df_87 = df[
    (df['year'] == '1988_1989') &
    (df['capital_closing'] != 0) &
    (df['capital_closing'].notna())
][['capital_closing', 'year_initial']].copy()
df_87.columns = ['capital_value', 'year_initial']
df_88 = df[
    (df['year'] == '1987_1988') &
    (df['capital_open'] != 0) &
    (df['capital_open'].notna())
][['capital_open', 'year_initial']].copy()
df_88.columns = ['capital_value', 'year_initial']
matches = pd.merge(df_87, df_88, on=['capital_value', 'year_initial'], how='inner')
unique_matches = matches.drop_duplicates(subset=['capital_value', 'year_initial'])
print("Total unique 1:1 matches based on capital value and year_initial:", len(unique_matches))

Total unique 1:1 matches based on capital value and year_initial: 50

In [ ]:
import pandas as pd
def count_zeros_nans(series):
  """Counts zeros and NaNs in a pandas Series."""
  num_zeros = (series == 0).sum()
  num_nans = series.isnull().sum()
  return num_zeros, num_nans
nan_zero_counts_by_year = df.groupby('year').agg(
    {'capital_open': count_zeros_nans, 'capital_closing': count_zeros_nans}
)
nan_zero_counts_by_year

          capital_open capital_closing
year
1979_1980    (1544, 0)       (1250, 0)
1980_1981    (1488, 0)       (1247, 0)
1981_1982    (1412, 0)       (1127, 0)
1982_1983    (1116, 0)        (838, 0)
1983_1984    (1276, 0)        (980, 0)
1984_1985    (1093, 0)        (897, 0)
1985_1986     (922, 0)        (679, 0)
1986_1987     (953, 0)        (741, 0)
1987_1988     (777, 0)        (579, 0)
1988_1989     (952, 0)        (696, 0)

In [ ]:
df['year'].value_counts()

year
1984_1985    26018
1988_1989    25721
1986_1987    25142
1983_1984    25091
1987_1988    24599
1985_1986    23885
1982_1983    23618
1980_1981    21774
1981_1982    21477
1979_1980    20516
Name: count, dtype: int64

In [ ]:
nic_code_by_year = df.groupby('year')['identifier'].value_counts().reset_index(name='frequency')
nic_code_by_year

            year identifier  frequency
0      1979_1980     20_1_7        808
1      1979_1980    22_1_18        461
2      1979_1980    23_1_23        455
3      1979_1980    21_1_12        379
4      1979_1980    31_1_24        324
...          ...        ...        ...
14859  1988_1989     97_5_3          1
14860  1988_1989     97_5_5          1
14861  1988_1989     97_5_8          1
14862  1988_1989    97_6_24          1
14863  1988_1989     97_6_5          1

[14864 rows x 3 columns]

In [ ]:
top_bottom_by_year = []

for year, group in nic_code_by_year.groupby('year'):
    top_5 = group.nlargest(2, 'frequency')
    bottom_1 = group.nsmallest(1, 'frequency')
    top_bottom = pd.concat([top_5, bottom_1])
    top_bottom_by_year.append(top_bottom)

result = pd.concat(top_bottom_by_year).sort_values(['year', 'frequency'], ascending=[True, False])

            year identifier  frequency
0      1979_1980     20_1_7        808
1      1979_1980    22_1_18        461
958    1979_1980    20_1_13          1
1446   1980_1981     20_1_7        972
1447   1980_1981    23_1_23        454
2413   1980_1981    20_1_22          1
2930   1981_1982     20_1_7       1164
2931   1981_1982    22_1_18        468
3869   1981_1982    20_1_13          1
4390   1982_1983     20_1_7       1219
4391   1982_1983    22_1_18        498
5294   1982_1983    20_1_13          1
5744   1983_1984     20_1_7       1246
5745   1983_1984    22_1_18        620
6674   1983_1984    20_1_22          1
7128   1984_1985     20_1_7       1242
7129   1984_1985    23_1_23        458
8119   1984_1985    20_1_22          1
8597   1985_1986     20_1_7       1115
8598   1985_1986    23_1_19        398
9575   1985_1986    20_1_13          1
10044  1986_1987     20_1_7       1127
10045  1986_1987    23_1_19        387
11023  1986_1987    20_1_13          1
11515  1987_1988     20_1_7        492
11516  1987_1988     32_1_7        296
12535  1987_1988    20_1_13          1
13019  1988_1989     20_1_7        471
13020  1988_1989    22_1_18        302
14284  1988_1989    20_1_13          1

In [ ]:
ownership_codes_subset = df[df['year'].isin(['1986_1987','1987_1988', '1988_1989'])]

ownership_mapping = ownership_codes_subset[['ownership_code', 'ownership_code_unique', 'year']].drop_duplicates()
ownership_mapping = ownership_mapping.sort_values(['year', 'ownership_code_unique'])

ownership_mapping

,ownership_code,ownership_code_unique,year
162380,wholly private enterprise,1,1986_1987
162391,wholly central government,2,1986_1987
162379,wholly state and/or local government,3,1986_1987
162412,central government and state and/or local gove...,4,1986_1987
162382,joint sector public,5,1986_1987
162397,joint sector private,6,1986_1987
162630,7.0,7,1986_1987
187521,wholly private enterprise,1,1987_1988
187571,wholly central government,2,1987_1988
187527,wholly state and/or local government,3,1987_1988
187532,central government and state and/or local gove...,4,1987_1988
187525,joint sector public,5,1987_1988
187533,joint sector private,6,1987_1988
188221,invalid,7,1987_1988
233944,wholly private ownership,1,1988_1989
233992,wholly central government,2,1988_1989
233940,wholly state and/or local government,3,1988_1989
233958,central government and state and/or local gove...,4,1988_1989
233943,joint sector public,5,1988_1989
233960,joint sector private,6,1988_1989
239420,invalid,7,1988_1989

In [ ]:
import pandas as pd
from tqdm.notebook import tqdm
import secrets
import string

years = sorted(df['year'].unique())
print(years)

def generate_unique_ids(n, length=8):
    charset = string.ascii_uppercase + string.digits
    unique_ids = set()

    while len(unique_ids) < n:
        new_id = ''.join(secrets.choice(charset) for _ in range(length))
        unique_ids.add(new_id)

    return list(unique_ids)


metric_columns = ["capital_open", "capital_closing", "work_cap_open", "work_cap_close", "outstanding_open", "outstanding_close", "semi_open", "semi_close"]

filter_df = df[df['year'].isin(years)].copy()
df_final_v2 = None

for i,year in enumerate(years[:-1]):

    print(f"PY {years[i]} TO CY: {years[i+1]}")

    CY_df = filter_df.copy().sort_values(by=['year', 'identifier', 'year_initial'] + metric_columns)
    CY_df = CY_df[CY_df['year']==years[i+1]].reset_index()
    CY_df = CY_df.drop(["capital_closing", "work_cap_close", "outstanding_close", "semi_close"], axis=1)
    print(f"Data in CY shape: {CY_df.shape}")

    if i == 0:
        PY_df = filter_df.copy().sort_values(by=['year', 'identifier', 'year_initial'] + metric_columns)
        PY_df = PY_df[PY_df['year']==years[i]].reset_index(drop=True)
        PY_df = PY_df.drop(["capital_open", "work_cap_open", "outstanding_open", "semi_open"], axis=1)

    else:
        PY_df = df_final_v2.copy()

    df_merge = pd.merge(
        left=CY_df,
        right=PY_df,
        how='inner',
        left_on = ['identifier', 'year_initial', "capital_open", "work_cap_open", "outstanding_open", "semi_open"],
        right_on = ['identifier', 'year_initial', "capital_closing", "work_cap_close", "outstanding_close", "semi_close"],
        suffixes = ['_CY', "_PY"]
    )

    df_final = df_merge.loc[~(
            (df_merge["capital_open"]==0) &
            (df_merge["capital_closing"] == 0) &
            (df_merge["work_cap_open"] == 0) &
            (df_merge["work_cap_close"] == 0) &
            (df_merge["outstanding_open"] == 0) &
            (df_merge["outstanding_close"] == 0) &
            (df_merge["semi_open"] == 0) &
            (df_merge["semi_close"] == 0) &
            (df_merge['year_initial']==0)
        )
    ]

    if i == 0:

        unique_ids = generate_unique_ids(df_final.shape[0], length=8)


        assert len(unique_ids) == df_final.shape[0]

        ## Assign it to the dataframe
        df_final_v2 = df_final.copy()
        df_final_v2['panel_id'] = unique_ids
        df_final_v2 = df_final_v2.reset_index(drop=True)
        df_final_v2 = df_final_v2.drop(columns=[c for c in df_final_v2.columns if c.endswith("_PY")])
        df_final_v2 = df_final_v2.rename(columns=dict(zip([c for c in df_final_v2.columns if c.endswith("_CY")], [c.replace("_CY", "") for c in df_final_v2.columns if c.endswith("_CY")])))
        df_final_v2 = df_final_v2.drop(["capital_open", "work_cap_open", "outstanding_open", "semi_open"], axis=1)
        df_final = df_final_v2.copy()

In [ ]:
metric_columns = ["capital_open", "capital_closing", "work_cap_open", "work_cap_close", "outstanding_open", "outstanding_close", "semi_open", "semi_close"]

filter_df = df[df['year'].isin(years)].copy()

CY_df = filter_df.copy().sort_values(by=['year', 'ownership_code_unique', 'year_initial'] + metric_columns)
CY_df = CY_df[CY_df['year']!=years[0]].reset_index()
CY_df = CY_df.drop(["capital_closing", "work_cap_close", "outstanding_close", "semi_close"], axis=1)

PY_df = filter_df.copy().sort_values(by=['year', 'ownership_code_unique', 'year_initial'] + metric_columns)
PY_df = PY_df[PY_df['year']!=years[-1]].reset_index(drop=True)
PY_df = PY_df.drop(["capital_open", "work_cap_open", "outstanding_open", "semi_open"], axis=1)

df_merge = pd.merge(
    left=CY_df,
    right=PY_df,
    how='inner',
    left_on = ['ownership_code_unique', 'year_initial', "capital_open", "work_cap_open", "outstanding_open", "semi_open"],
    right_on = ['ownership_code_unique', 'year_initial', "capital_closing", "work_cap_close", "outstanding_close", "semi_close"],
    suffixes = ['_CY', "_PY"]
)
df_merge = df_merge[sorted(df_merge.columns)]
print(df_merge.shape)
df_merge.head()

,State_CY,State_PY,bonus_workers_CY,bonus_workers_PY,capital_closing,capital_open,district_code_CY,district_code_PY,gross_sales_CY,gross_sales_PY,...,tot_output_PY,value_added_CY,value_added_PY,wages_CY,wages_PY,work_cap_close,work_cap_open,year_CY,year_PY,year_initial
0,2,2,0.0,0.0,0.0,0.0,7.0,7.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1979_1980,0.0
1,2,9,0.0,0.0,0.0,0.0,7.0,20.0,NaN,NaN,...,0.0,0.0,0.0,0.0,85002.0,0.0,0.0,1980_1981,1979_1980,0.0
2,2,9,0.0,0.0,0.0,0.0,7.0,28.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1979_1980,0.0
3,2,9,0.0,0.0,0.0,0.0,7.0,1.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1979_1980,0.0
4,2,9,0.0,0.0,0.0,0.0,7.0,6.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1979_1980,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1567408,24,25,0.0,0.0,0.0,0.0,1.0,1.0,0.0,907126.0,...,928758.0,-828.0,832526.0,0.0,0.0,0.0,0.0,1988_1989,1986_1987,0.0
1567409,24,25,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,-828.0,-1926.0,0.0,0.0,0.0,0.0,1988_1989,1986_1987,0.0
1567410,24,25,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,-828.0,-933538.0,0.0,0.0,0.0,0.0,1988_1989,1986_1987,0.0
1567411,24,19,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,-828.0,-7056.0,0.0,0.0,0.0,0.0,1988_1989,1986_1987,0.0
1567412,24,24,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,824151.0,-828.0,824151.0,0.0,0.0,0.0,0.0,1988_1989,1987_1988,0.0

In [ ]:
df_final = df_merge.loc[~(
        (df_merge["capital_open"]==0) &
        (df_merge["capital_closing"] == 0) &
        (df_merge["work_cap_open"] == 0) &
        (df_merge["work_cap_close"] == 0) &
        (df_merge["outstanding_open"] == 0) &
        (df_merge["outstanding_close"] == 0) &
        (df_merge["semi_open"] == 0) &
        (df_merge["semi_close"] == 0) &
        (df_merge['year_initial']==0)
    )
]
df_final = df_final.drop_duplicated()

print(f"Total rows removed: {df_merge.shape[0]-df_final.shape[0]}")

print(f"Total rows: {df_final.shape[0]}")
df_final.head()

,State_CY,State_PY,bonus_workers_CY,bonus_workers_PY,capital_closing,capital_open,district_code_CY,district_code_PY,gross_sales_CY,gross_sales_PY,...,tot_output_PY,value_added_CY,value_added_PY,wages_CY,wages_PY,work_cap_close,work_cap_open,year_CY,year_PY,year_initial
132,23,23,0.0,0.0,0.0,0.0,17.0,17.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1980_1981,0.0
749,9,9,0.0,0.0,3100.0,3100.0,31.0,31.0,NaN,NaN,...,0.0,0.0,-155.0,0.0,0.0,0.0,0.0,1980_1981,1979_1980,0.0
750,9,9,0.0,0.0,3100.0,3100.0,31.0,31.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1980_1981,0.0
751,9,9,0.0,0.0,3100.0,3100.0,31.0,31.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1981_1982,0.0
752,9,9,0.0,0.0,3100.0,3100.0,31.0,31.0,NaN,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1980_1981,1983_1984,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1566103,0,0,6101.0,0.0,209261.0,209261.0,20.0,20.0,1206862.0,618310.0,...,656026.0,963242.0,263179.0,29521.0,19513.0,428619.0,428619.0,1988_1989,1987_1988,1957.0
1566104,25,25,0.0,0.0,69234.0,69234.0,19.0,19.0,0.0,0.0,...,0.0,-12219.0,-17178.0,0.0,0.0,3762.0,3762.0,1988_1989,1987_1988,1971.0
1566105,25,25,1516306.0,882184.0,30609809.0,30609809.0,2.0,2.0,259101339.0,184917397.0,...,169969042.0,66905928.0,28058623.0,7241331.0,5708676.0,-4649353.0,-4649353.0,1988_1989,1987_1988,1974.0
1566106,8,19,0.0,32396.0,0.0,0.0,16.0,14.0,0.0,NaN,...,288848.0,0.0,219807.0,0.0,121983.0,0.0,0.0,1988_1989,1981_1982,1978.0
1566107,20,20,1882.0,2855.0,863929.0,863929.0,6.0,6.0,440350.0,572104.0,...,621402.0,42942.0,12843.0,29146.0,72866.0,-28560.0,-28560.0,1988_1989,1987_1988,1981.0

In [ ]:
metric_columns = ["capital_open", "capital_closing", "work_cap_open", "work_cap_close", "outstanding_open", "outstanding_close", "semi_open", "semi_close"]

filter_df = df[df['year'].isin(years)].copy()

CY_df = filter_df.copy().sort_values(by=['year', 'identifier', 'year_initial'] + metric_columns)
CY_df = CY_df[CY_df['year']!=years[0]].reset_index()
CY_df = CY_df.drop(["capital_closing", "work_cap_close", "outstanding_close", "semi_close"], axis=1)

PY_df = filter_df.copy().sort_values(by=['year', 'identifier', 'year_initial'] + metric_columns)
PY_df = PY_df[PY_df['year']!=years[-1]].reset_index(drop=True)
PY_df = PY_df.drop(["capital_open", "work_cap_open", "outstanding_open", "semi_open"], axis=1)

df_merge = pd.merge(
    left=CY_df,
    right=PY_df,
    how='inner',
    left_on = ['identifier', 'year_initial', "capital_open", "work_cap_open", "outstanding_open", "semi_open"],
    right_on = ['identifier', 'year_initial', "capital_closing", "work_cap_close", "outstanding_close", "semi_close"],
    suffixes = ['_CY', "_PY"]
)
df_merge = df_merge[sorted(df_merge.columns)]
print(df_merge.shape)
df_merge.head()

df_final = df_merge.loc[~(
        (df_merge["capital_open"]==0) &
        (df_merge["capital_closing"] == 0) &
        (df_merge["work_cap_open"] == 0) &
        (df_merge["work_cap_close"] == 0) &
        (df_merge["outstanding_open"] == 0) &
        (df_merge["outstanding_close"] == 0) &
        (df_merge["semi_open"] == 0) &
        (df_merge["semi_close"] == 0) &
        (df_merge['year_initial']==0)
    )
]

,State_CY,State_PY,bonus_workers_CY,bonus_workers_PY,capital_closing,capital_open,district_code_CY,district_code_PY,gross_sales_CY,gross_sales_PY,...,tot_output_PY,value_added_CY,value_added_PY,wages_CY,wages_PY,work_cap_close,work_cap_open,year_CY,year_PY,year_initial
0,0,0,13424.0,11648.0,148073.0,148073.0,24.0,24.0,NaN,NaN,...,804967.0,323979.0,184720.0,82286.0,79880.0,392340.0,392340.0,1980_1981,1979_1980,1959.0
1,0,0,53941.0,26542.0,917001.0,917001.0,20.0,20.0,NaN,NaN,...,1934978.0,558420.0,338839.0,308238.0,352782.0,756034.0,756034.0,1980_1981,1979_1980,1959.0
2,0,0,14614.0,3300.0,183780.0,183780.0,24.0,24.0,NaN,NaN,...,1163516.0,416792.0,155807.0,155511.0,91743.0,126144.0,126144.0,1980_1981,1979_1980,1965.0
3,0,0,25059.0,18235.0,243808.0,243808.0,24.0,24.0,NaN,NaN,...,1343500.0,1155846.0,442209.0,164525.0,124592.0,240297.0,240297.0,1980_1981,1979_1980,1965.0
4,0,0,12150.0,13565.0,236802.0,236802.0,24.0,24.0,NaN,NaN,...,1168303.0,243973.0,319420.0,84710.0,88051.0,303366.0,303366.0,1980_1981,1979_1980,1966.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
135449,9,9,0.0,234430.0,0.0,0.0,1.0,1.0,6473414.0,18631585.0,...,18631585.0,4917834.0,7335501.0,3456842.0,4104383.0,0.0,0.0,1988_1989,1985_1986,1967.0
135450,9,9,0.0,208575.0,0.0,0.0,1.0,1.0,6473414.0,0.0,...,4962421.0,4917834.0,4398970.0,3456842.0,2503913.0,0.0,0.0,1988_1989,1986_1987,1967.0
135451,9,9,0.0,381515.0,0.0,0.0,1.0,1.0,6473414.0,21952404.0,...,21952405.0,4917834.0,8889112.0,3456842.0,5103524.0,0.0,0.0,1988_1989,1986_1987,1967.0
135452,9,9,0.0,156685.0,0.0,0.0,1.0,1.0,6473414.0,0.0,...,5630861.0,4917834.0,4249887.0,3456842.0,2948221.0,0.0,0.0,1988_1989,1987_1988,1967.0
135453,4,4,36838.0,44115.0,216328.0,216328.0,6.0,6.0,0.0,0.0,...,1154827.0,955051.0,881150.0,689804.0,610170.0,43030.0,43030.0,1988_1989,1987_1988,1964.0

In [ ]:
for year, dfx in df_merge.groupby("year_CY"):
    print(year)
    print(dfx['year_CY'].value_counts())
    print("-"*40)

1980_1981
year_CY
1980_1981    21968
Name: count, dtype: int64
----------------------------------------
1981_1982
year_CY
1981_1982    20325
Name: count, dtype: int64
----------------------------------------
1982_1983
year_CY
1982_1983    19480
Name: count, dtype: int64
----------------------------------------
1983_1984
year_CY
1983_1984    19971
Name: count, dtype: int64
----------------------------------------
1984_1985
year_CY
1984_1985    15728
Name: count, dtype: int64
----------------------------------------
1985_1986
year_CY
1985_1986    11533
Name: count, dtype: int64
----------------------------------------
1986_1987
year_CY
1986_1987    11938
Name: count, dtype: int64
----------------------------------------
1987_1988
year_CY
1987_1988    8709
Name: count, dtype: int64
----------------------------------------
1988_1989
year_CY
1988_1989    5802
Name: count, dtype: int64
----------------------------------------